<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>La Montanya</title>
 
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/main.css" type="text/css" />
<cms:template clonable='1' > </cms:template>
</head>
 
<body id="index" class="home">

<div id="wrapper">
	<div id="sidebar">
		<div id="title">
			<h1>LA MONTANYA</h1>
		</div>
		<div id="menu">
			<ul>
				<li>
					link
				</li>
				<li>
					link
				</li>
				<li>
					<ul class="sublist">
						<li>
							sublink
						</li>
						<li>
							sublink
						</li>
					</ul>
				</li>
				<li>
					link
				</li>
			</ul>
		</div>
		<div id="sidebar-footer">
			ENG/SPA
		</div>
	</div>

	<div id="page">
		<div id="page-title">
			<h2>LA MONTANA | KILLING ROMEO</h2>
		</div>
		<div id="blocks">
			<ul id="blocklist">
				<li>
				<p>When scrolling. we don’t want the blocks to move, the text should move up/down the blocks and jump up to the next one etc.
 In this way it seems that the blocks must be some kind of post-pro effect that the page doesn’t actually know about.</p><span></span></li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
				<li>asd</li>
			</ul>
		</div>
	</div>
</div>


</body>
</html>